# NAS mount
export smb_host="silverplate.local"
export smb_drive="imap_archive"
export nas_mount_dir="nas_data_mnt"
export nas_mount_user="nobody"
export nas_mount_group="imapapp"

# Dovecot
export dovecot_hostname="mail.yourdomain.com"
export dovecot_dir="$(pwd)/${nas_mount_dir}/dovecot"
export dovecot_certs_dir="$(pwd)/${nas_mount_dir}/dovecot/certs"

# RoundCube
export roundcube_dir="$(pwd)/${nas_mount_dir}/roundcube"
